youtube/pool/excedentes.yaml
[{"id":"f9a53235.3bd63","type":"comment","z":"2a35dc50.5aea34","name":"Depuradora Programador","info":"","x":190,"y":480,"wires":[]},{"id":"9e89d9ca.043f78","type":"debug","z":"2a35dc50.5aea34","name":"Status Depuradora","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":460,"wires":[]},{"id":"ab518fc0.45e03","type":"switch","z":"2a35dc50.5aea34","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":720,"wires":[["d9736aaf48e763ee"],["a5f1f620560899ff"]]},{"id":"bcef4c30.7dfc9","type":"api-call-service","z":"2a35dc50.5aea34","name":"Apagar Bomba Piscina","server":"7268a3b9.f3b0fc","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.depuradora_piscina_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1140,"y":660,"wires":[[]]},{"id":"727823b.f146adc","type":"api-call-service","z":"2a35dc50.5aea34","name":"Encender Bomba Piscina","server":"7268a3b9.f3b0fc","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.depuradora_piscina_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1130,"y":540,"wires":[[]]},{"id":"e20ae172.5a35","type":"api-call-service","z":"2a35dc50.5aea34","name":"","server":"7268a3b9.f3b0fc","version":5,"debugenabled":false,"domain":"notify","service":"telegram","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Depuradora\",\"message\":\"Se enciende la depuradora\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1100,"y":600,"wires":[[]]},{"id":"99fd4bfb.650128","type":"api-call-service","z":"2a35dc50.5aea34","name":"","server":"7268a3b9.f3b0fc","version":5,"domain":"notify","service":"telegram","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Depuradora\",\"message\":\"Se apaga la depuradora\"}","mergeContext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1120,"y":720,"wires":[[]]},{"id":"c74aa96b.36ac88","type":"server-state-changed","z":"2a35dc50.5aea34","name":"Pool Pump Mode","server":"7268a3b9.f3b0fc","version":4,"entityidfilter":"input_select.pool_pump","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":780,"wires":[["7c18cf69.15f58"]]},{"id":"7c18cf69.15f58","type":"function","z":"2a35dc50.5aea34","name":"","func":"switch(msg.payload){\n    \n    case 'Auto':\n        msg.payload = 'auto';\n        break;\n    case 'On':\n        msg.payload = 1;\n        break;\n    case 'Off':\n        msg.payload = 0;\n        break;\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":660,"wires":[["3deaa1f5.9039fe"]]},{"id":"3deaa1f5.9039fe","type":"timerswitch","z":"2a35dc50.5aea34","name":"Depuradora","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"01","on_m":"05","on_s":"00","off_h":"06","off_m":"55","off_s":"00","valid":true}],"x":470,"y":640,"wires":[["ab518fc0.45e03","9e89d9ca.043f78"]]},{"id":"8b1359dab2742c0a","type":"time-range-switch","z":"2a35dc50.5aea34","name":"10:00 / 18:00","lat":"","lon":"","startTime":"10:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":330,"y":1160,"wires":[["d54bf4d2b4fe09f7"],["b1831d315b7bfcb3"]]},{"id":"8aa8a4491d1e86dd","type":"inject","z":"2a35dc50.5aea34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1180,"wires":[["8b1359dab2742c0a"]]},{"id":"6b94ca7346e5a208","type":"api-current-state","z":"2a35dc50.5aea34","name":"Depuradora running time","server":"7268a3b9.f3b0fc","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.pool_pump_running_today","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":190,"y":1340,"wires":[["c34fe7f1492042c6"]]},{"id":"98321011a2357517","type":"api-current-state","z":"2a35dc50.5aea34","name":"Hay excedentes?","server":"7268a3b9.f3b0fc","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.iotawatt_acometida","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":1320,"wires":[["5724c7975a60e5ea"]]},{"id":"5724c7975a60e5ea","type":"switch","z":"2a35dc50.5aea34","name":"Hay excedentes?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"-750","vt":"str"},{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":1540,"wires":[["9eeae34e68120837","f65a921713c9ade8"],["86c968a87bb97a9e"]]},{"id":"ef5b134181a2d535","type":"switch","z":"2a35dc50.5aea34","name":"< horas max?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"maxhoras","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":1320,"wires":[["98321011a2357517"],["aee84f213ceb60bd"]]},{"id":"9eeae34e68120837","type":"api-current-state","z":"2a35dc50.5aea34","name":"Estado Depuradora off?","server":"7268a3b9.f3b0fc","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.depuradora_piscina_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":1520,"wires":[["21207a64a21bb397","df3ec994409b9289"],[]]},{"id":"21207a64a21bb397","type":"function","z":"2a35dc50.5aea34","name":"Check ultimo cambio","func":"\n// msg.data.timeSinceChangedMs\nvar lastChange = Math.floor(msg.data.timeSinceChangedMs / 1000);\n\nif(lastChange > 600) {\n    // Hace más de 10 minutos del último cambio\n    return [msg, null];\n}\nelse {\n    return [null,null];\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1480,"wires":[["6abb4a68d466ff11","78b680268d082b98"],[]]},{"id":"6abb4a68d466ff11","type":"api-call-service","z":"2a35dc50.5aea34","name":"Encender Bomba Piscina","server":"7268a3b9.f3b0fc","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.depuradora_piscina_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1010,"y":1400,"wires":[[]]},{"id":"78b680268d082b98","type":"api-call-service","z":"2a35dc50.5aea34","name":"","server":"7268a3b9.f3b0fc","version":5,"debugenabled":false,"domain":"notify","service":"telegram","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"title\":\"Depuradora\",\t   \"message\":\"Se enciende la depuradora por excedentes\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":1460,"wires":[[]]},{"id":"6ec609822ef8b69b","type":"api-current-state","z":"2a35dc50.5aea34","name":"Estado Depuradora on?","server":"7268a3b9.f3b0fc","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.depuradora_piscina_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":1680,"wires":[["ff77ef22a3977416"],[]]},{"id":"ff77ef22a3977416","type":"function","z":"2a35dc50.5aea34","name":"Check ultimo cambio","func":"\n// msg.data.timeSinceChangedMs\nvar lastChange = Math.floor(msg.data.timeSinceChangedMs / 1000);\n\nif(lastChange > 600) {\n    // Hace más de 10 minutos del último cambio\n    return [msg, null];\n}\nelse {\n    return [null,null];\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1600,"wires":[["1533891e6290dec1","cc9c7cabd6f32cf3"],[]]},{"id":"1533891e6290dec1","type":"api-call-service","z":"2a35dc50.5aea34","name":"Apagar Bomba Piscina","server":"7268a3b9.f3b0fc","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.depuradora_piscina_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1180,"y":1580,"wires":[[]]},{"id":"cc9c7cabd6f32cf3","type":"api-call-service","z":"2a35dc50.5aea34","name":"","server":"7268a3b9.f3b0fc","version":5,"debugenabled":false,"domain":"notify","service":"telegram","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"title\":\"Depuradora\",\t   \"message\":\"Se apaga la depuradora por falta de excedentes\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1160,"y":1620,"wires":[[]]},{"id":"86c968a87bb97a9e","type":"delay","z":"2a35dc50.5aea34","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":1680,"wires":[["6ec609822ef8b69b"]]},{"id":"f65a921713c9ade8","type":"function","z":"2a35dc50.5aea34","name":"reset true","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":1680,"wires":[["86c968a87bb97a9e"]]},{"id":"f3bb36631d7fda22","type":"server-state-changed","z":"2a35dc50.5aea34","name":"Acometida","server":"7268a3b9.f3b0fc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.iotawatt_acometida","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1120,"wires":[["8b1359dab2742c0a"]]},{"id":"8b3a9724321d2abc","type":"function","z":"2a35dc50.5aea34","name":"Check ultimo cambio","func":"\n// msg.data.timeSinceChangedMs\nvar lastChange = Math.floor(msg.data.timeSinceChangedMs / 1000);\n\nif(lastChange > 600) {\n    // Hace más de 10 minutos del último cambio\n    return [msg, null];\n}\nelse {\n    return [null,null];\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1200,"wires":[["1370e9a0671fb5b6","782507901431b7dd"],[]]},{"id":"1370e9a0671fb5b6","type":"api-call-service","z":"2a35dc50.5aea34","name":"Apagar Bomba Piscina","server":"7268a3b9.f3b0fc","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.depuradora_piscina_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1340,"y":1200,"wires":[[]]},{"id":"782507901431b7dd","type":"api-call-service","z":"2a35dc50.5aea34","name":"","server":"7268a3b9.f3b0fc","version":5,"debugenabled":false,"domain":"notify","service":"telegram","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"title\":\"Depuradora\",\t   \"message\":\"Se apaga la depuradora tiempo máximo\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1320,"y":1160,"wires":[[]]},{"id":"aee84f213ceb60bd","type":"api-current-state","z":"2a35dc50.5aea34","name":"Estado Depuradora on?","server":"7268a3b9.f3b0fc","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.depuradora_piscina_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1010,"y":1100,"wires":[["8b3a9724321d2abc"],[]]},{"id":"b1831d315b7bfcb3","type":"time-range-switch","z":"2a35dc50.5aea34","name":"0:00 / 08:00","lat":"","lon":"","startTime":"0:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":610,"y":1120,"wires":[[],["aee84f213ceb60bd"]]},{"id":"57e087b32e1eebd5","type":"comment","z":"2a35dc50.5aea34","name":"Depuradora con Excedentes Solares","info":"","x":220,"y":1040,"wires":[]},{"id":"d9736aaf48e763ee","type":"api-current-state","z":"2a35dc50.5aea34","name":"Estado Depuradora off?","server":"7268a3b9.f3b0fc","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.depuradora_piscina_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":620,"wires":[["727823b.f146adc","e20ae172.5a35"],[]]},{"id":"a5f1f620560899ff","type":"api-current-state","z":"2a35dc50.5aea34","name":"Estado Depuradora on?","server":"7268a3b9.f3b0fc","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.depuradora_piscina_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":700,"wires":[["bcef4c30.7dfc9","99fd4bfb.650128"],[]]},{"id":"c34fe7f1492042c6","type":"api-current-state","z":"2a35dc50.5aea34","name":"Maximo Horas Depuracion","server":"7268a3b9.f3b0fc","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.piscina_maximo_horas_depuracion","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"maxhoras","propertyType":"msg","value":"","valueType":"entityState"},{"property":"datamax","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":1360,"wires":[["ef5b134181a2d535"]]},{"id":"d54bf4d2b4fe09f7","type":"api-current-state","z":"2a35dc50.5aea34","name":"Pool Pump Mode is Auto","server":"7268a3b9.f3b0fc","version":3,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.pool_pump","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":1260,"wires":[["6b94ca7346e5a208"],[]]},{"id":"df3ec994409b9289","type":"debug","z":"2a35dc50.5aea34","name":"debug 223","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1560,"wires":[]},{"id":"7268a3b9.f3b0fc","type":"server","name":"Home Assistant","version":4,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]
